@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
@font-face {
  font-family: "Larken";
  src: url("../fonts/LarkenDEMO-Regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: "Larken";
  src: url("../fonts/LarkenDEMO-Medium.otf");
  font-weight: 500;
}
body .our-projects-container, body .slider-container .slider-grid, body .slider-container, body .header-container__pict, body .header-container__text, body .nav-container__list, body {
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: white;
}

body {
  background: url("../photo/body-bg.svg");
  background-color: #0B0E17;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .nav-container {
  position: relative;
  z-index: 1000;
  width: 100%;
  max-width: 1720px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
}
body .nav-container__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 722px;
  margin: 0;
}
body .nav-container__list h1 {
  font-family: "Larken";
  font-size: 50px;
  font-weight: 500;
  margin: 0;
}
body .nav-container__list ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 35px;
  margin: 0;
}
body .nav-container__list ul li {
  color: #ABAEB7;
  font-weight: 500;
  font-size: 16px;
}
body .nav-container button {
  max-height: 49px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 30px;
  padding-left: 30px;
  border: 1px solid white;
  background: none;
  text-transform: uppercase;
  font-size: 16px;
  margin: 0;
}
body .header-container {
  display: grid;
  grid-template-columns: minmax(100px, 849px) minmax(100px, 1071px);
  grid-template-rows: 1007px;
  margin-top: -89px;
}
body .header-container__text {
  background: url("../photo/path-bg.svg") no-repeat, url("../photo/stars-on-bg.svg") no-repeat, url("../photo/interior.svg") no-repeat;
  background-position: left 0% top 50%, left 80% top 20%, left 0% top 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
body .header-container__text .text-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  width: 100%;
  max-width: 680px;
}
body .header-container__text .text-div h3 {
  letter-spacing: 0.3em;
  font-size: 16px;
  font-family: "Larken", serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #FFC978;
  margin: 0;
}
body .header-container__text .text-div h1 {
  font-family: "Larken", serif;
  text-transform: uppercase;
  font-size: 84px;
  line-height: 94px;
  margin-top: 30px;
  font-weight: 400;
}
body .header-container__text .text-div p {
  color: #ABAEB7;
  margin-top: 10px;
  line-height: 33px;
  max-width: 534px;
}
body .header-container__text .text-div button {
  margin-top: 50px;
  font-weight: 500;
  font-size: 16px;
  background: none;
  border: 1px solid white;
  max-width: 212px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 35px;
  padding-right: 35px;
}
body .header-container__pict {
  background: url("../photo/main.png") center/cover no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
body .slider-container {
  max-width: 1920px;
  min-height: 750px;
  margin-top: 140px;
  background: url("../photo/design.svg") no-repeat;
  background-position: right bottom;
}
body .slider-container .slider-grid {
  max-width: 1290px;
  min-height: 663px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 300px));
  grid-template-rows: 111px 500px;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  row-gap: 52px;
}
body .slider-container .slider-grid h4 {
  font-family: "Larken", serif;
  font-weight: 500;
  font-size: 24px;
}
body .slider-container .slider-grid p {
  font-size: 16px;
  max-width: 230px;
  margin-top: 10px;
}
body .slider-container .slider-grid__text {
  grid-row: 1/2;
  grid-column: 2/4;
}
body .slider-container .slider-grid__text h3 {
  letter-spacing: 0.3em;
  text-align: center;
  color: #FFC978;
  font-size: 16px;
  font-family: "Larken", serif;
  font-weight: 400;
}
body .slider-container .slider-grid__text h1 {
  font-family: "Larken", serif;
  font-weight: 400;
  font-size: 60px;
  text-align: center;
  margin-top: 13px;
}
body .slider-container .slider-grid__pict1 {
  margin-top: 34px;
  grid-row: 1/3;
  grid-column: 1/2;
  max-height: 500px;
  background: url("../photo/top-1.png") center/cover no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px;
}
body .slider-container .slider-grid__pict2 {
  grid-column: 2/3;
  grid-row: 2/3;
  max-height: 500px;
  background: url("../photo/top-2.png") center/cover no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px;
}
body .slider-container .slider-grid__pict3 {
  grid-column: 3/4;
  max-height: 500px;
  background: url("../photo/top-3.png") center/cover no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px;
}
body .slider-container .slider-grid__pict4 {
  margin-top: 34px;
  grid-row: 1/3;
  grid-column: 4/5;
  max-height: 500px;
  background: url("../photo/top-4.png") center/cover no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px;
}
body .our-projects-container {
  min-height: 1233px;
  max-width: 1289px;
  margin-top: 131px;
  border: 1px solid white;
}