@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

@font-face {
    font-family: 'Larken';
    src: url("../fonts/LarkenDEMO-Regular.otf");
    font-weight: 400;
}

@font-face {
    font-family: 'Larken';
    src: url("../fonts/LarkenDEMO-Medium.otf");
    font-weight: 500;
}

%size {
    width: 100%;
    height: 100%;
}

$greyClr: #ABAEB7;
$yellowClr: #FFC978;

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: white;
}

body {
    @extend %size;
    background: url("../photo/body-bg.svg");
    background-color: #0B0E17;
    display: flex;
    flex-direction: column;
    align-items: center;

    .nav-container {
        position: relative;
        z-index: 1000;
        width: 100%;
        max-width: 1720px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 25px;

        &__list {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            max-width: 722px;
            @extend %size;
            margin: 0;

            h1 {
                font-family: "Larken";
                font-size: 50px;
                font-weight: 500;
                margin: 0;
            }
    
            ul {
                list-style: none;
                display: flex;
                flex-direction: row;
                gap: 35px;
                margin: 0;
    
                li {
                    color: $greyClr;
                    font-weight: 500;
                    font-size: 16px;
                }
            }
        }

        button {
            max-height: 49px;
            padding-top: 15px;
            padding-bottom: 15px;
            padding-right: 30px;
            padding-left: 30px;
            border: 1px solid white;
            background: none;
            text-transform: uppercase;
            font-size: 16px;
            margin: 0;
        }
    }

    .header-container {
        display: grid;
        grid-template-columns: minmax(100px, 849px) minmax(100px, 1071px);
        grid-template-rows: 1007px;
        margin-top: -89px;

        &__text {
            @extend %size;
            background: url("../photo/path-bg.svg") no-repeat, url("../photo/stars-on-bg.svg") no-repeat, url("../photo/interior.svg") no-repeat;
            background-position: left 0% top 50%, left 80% top 20%, left 0% top 100%; 
            display: flex;
            align-items: center;
            justify-content: center;

            .text-div {
                display: flex;
                flex-direction: column;
                justify-content: left;
                width: 100%;
                max-width: 680px;

                h3 {
                    letter-spacing: 0.3em;
                    font-size: 16px;
                    font-family: "Larken", serif;
                    font-weight: 400;
                    text-transform: uppercase;
                    color: $yellowClr;
                    margin: 0;
                }

                h1 {
                    font-family: "Larken", serif;
                    text-transform: uppercase;
                    font-size: 84px;
                    line-height: 94px;
                    margin-top: 30px;
                    font-weight: 400;
                }

                p {
                    color: $greyClr;
                    margin-top: 10px;
                    line-height: 33px;
                    max-width: 534px;
                }

                button {
                    margin-top: 50px;
                    font-weight: 500;
                    font-size: 16px;
                    background: none;
                    border: 1px solid white;
                    max-width: 212px;
                    padding-top: 20px;
                    padding-bottom: 20px;
                    padding-left: 35px;
                    padding-right: 35px;
                }
            }
        }

        &__pict {
            @extend %size;
            background: url("../photo/main.png") center/cover no-repeat;
            display: flex;
            justify-content: flex-end;
        }
    }

    .slider-container {
        max-width: 1920px;
        min-height: 714px;
    }
}
